@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import 'reset';

figure {
	width: 100%;
	height: 50vh;
	position: absolute;
	top: 25vh;
	left: 0;
	background: #000;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

aside {
	width: 100%;
	height: 100vh;
	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vw;
	color: #fff;
	transition: opacity 2s;

	p {
		position: relative;
		top: -50px;
		text-align: center;
		width: 100%;
		text-align: center;
	}
	.bar {
		width: 0%;
		height: 2px;
		background: #fff;
		position: absolute;
		left: 0%;
		top: 50%;
	}

	&.off {
		opacity: 0;
	}
}
